#menu{
    width: max-content;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    border: 3px;
    border-style: solid;
    border-color: black;
}

h3{
    width: auto;
    height: auto;
    border-style: double;
    border-width: 2px;
}