#menu{
    width: max-content;
    height: auto;
    text-align: center;
    font-size: medium;
    margin: 0 auto;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(219, 155, 58, 0.774);
    background-color: rgba(212, 163, 56, 0.671);
    position: relative;
    margin-left: 64.5%;
    margin-right: 35.5%;
    margin-top: 15%;
}

#close-menu{
  margin-left: 95%;
}

#menu-button{
  position: relative;
}

.line{
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom-style: groove;
    padding-bottom: 5px;
}

.z-index{
  z-index: 1;
}

h3{
    width: auto;
    height: auto;
    font-size: medium;
    border-style: double;
    border-width: 2px;
    border-radius: 10px;
    color: rgba(215, 205, 205, 0.795);
    border-color: rgba(0, 0, 0, 0.541);
    background-color: rgba(21, 19, 19, 0.852);
}

table,
td {
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 5px;
  width: auto;
  height: auto;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  position: relative;
  top: 4px;
  z-index: 0;
}

.alive{
  background-color: black;
}

table {
    background: linear-gradient(
      240deg,
      rgba(33, 124, 160, 0.7),
      rgba(79, 28, 161, 0.7)
    );
    border-top-right-radius: 10px;
    padding: 2px;
    padding-bottom: 9px;
    width: auto;
    height: auto;
    min-width: 99%;
    min-height: 99%;
    margin: 0 auto;
    position: fixed;
    z-index: 0;
}

body{
  position: fixed;
  z-index: -1;
  background-color: rgba(206, 148, 40, 0.929);
}
