#menu{
    width: max-content;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgba(219, 155, 58, 0.774);
    background-color: rgba(212, 163, 56, 0.671);
}

.line{
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom-style: groove;
    padding-bottom: 5px;
}

h3{
    width: auto;
    height: auto;
    border-style: double;
    border-width: 2px;
    border-radius: 10px;
    color: rgba(75, 68, 68, 0.795);
    border-color: rgba(0, 0, 0, 0.541);
}

table,
td {
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 5px;
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: white;
  border-radius: 7px;
  position: relative;
  top: 4px;
}

table {
    background: linear-gradient(
      240deg,
      rgba(33, 124, 160, 0.7),
      rgba(79, 28, 161, 0.7)
    );
    border-top-right-radius: 10px;
    position: relative;
    top: 90px;
    padding: 2px;
    padding-bottom: 9px;
  }